<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.star.pivot.file.mapper.SysFileTagRelMapper">

    <select id="selectTagsByFileIds" resultType="com.star.pivot.file.domain.vo.SysFileTagVo">
        SELECT t.tag_id AS tagId,
               t.tag_name AS tagName,
               t.tag_color AS tagColor,
               r.file_id AS fileId
        FROM sys_file_tag_rel r
        INNER JOIN sys_file_tag t ON t.tag_id = r.tag_id
        WHERE r.create_by_user_id = #{userId}
          AND r.file_id IN
        <foreach collection="fileIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        ORDER BY t.tag_name ASC
    </select>
</mapper>
